In [1]:
import pandas as pd
import io
import requests

In [17]:
csvlink='https://www.datatrained.com/hackathon-submissions/solution_file1592115617.csv'

s = requests.get(csvlink).content
ds = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [2]:
df=pd.read_csv("test_file.csv")
df.head()

,Unnamed: 0,Economy,ADB Country Code,Sector,Country 2018 GDP,Scenario,as % of total GDP,in $ Mn,as % of sector GDP,as % of sector employment,Employment (in 000)
0,0,Italy,ITA,_All,2.083864e+06,"Additional impact under Longer containment, la...",na,na,na,na,NaN
1,1,Republic of Korea,KOR,"Light/Heavy Manufacturing, Utilities, and Cons...",1.619424e+06,"Additional impact under Longer containment, la...",na,na,na,na,NaN
2,2,Thailand,THA,"Light/Heavy Manufacturing, Utilities, and Cons...",5.049928e+05,"Additional impact under Longer containment, la...",-0.83,"4,196.67",-2.9,-3.06,NaN
3,3,Portugal,POR,"Light/Heavy Manufacturing, Utilities, and Cons...",2.406745e+05,"Additional impact under Shorter containment, s...",na,na,na,na,NaN
4,4,Australia,AUS,Hotel and restaurants and Other Personal Services,1.433904e+06,"Additional impact under Longer containment, la...",na,na,na,na,NaN

In [53]:
ds

     predictions
0              1
1              1
2              1
3              0
4              1
..           ...
752            1
753            1
754            0
755            1
756            1

[757 rows x 1 columns]

In [4]:
z=df.iloc[:,-1]

z.shape

(314,)

In [60]:
ypred=ds.iloc[0:29,:]

In [63]:
if ypred.shape!=ytrue.shape:
    if ypred.shape>ytrue.shape:
        print("diff =",ypred.shape-ytrue.shape)
    else:
        print("diff =",ytrue.shape-ypred.shape)
else:
    print("False")

False

In [62]:
ytrue=pd.read_csv(r"C:\Users\Vishal\Desktop\Ytrue.csv")

ytrue.shape

(29, 1)

In [41]:
from sklearn.metrics import log_loss

In [42]:
loss= log_loss(ypred,ytrue)

In [43]:
loss

19.05604206562593